### Gradle ###
.gradle/
build/
**/build/
!gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
bin/

### Java ###
*.class
*.log
hs_err_pid*

### Spring Boot ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
